<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li>
      <a href="#" class="icon fa-facebook"
        ><span class="label">Facebook</span></a
      >
    </li>
    <li>
      <a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a>
    </li>
    <li>
      <a href="#" class="icon fa-pinterest"
        ><span class="label">Pinterest</span></a
      >
    </li>
    <li>
      <a href="#" class="icon fa-linkedin"
        ><span class="label">LinkedIn</span></a
      >
    </li>
  </ul>
  <ul class="copyright">
    <li>&copy; Gridgum</li>
    <li>By <a href="http://gridgum.com">Gridgum</a></li>
  </ul>
</footer>
