<!-- Three -->
<section id="three">
  <h2>Subscribe me</h2>
  <p>
    Vivamus accumsan dignissim rutrum. Ut leo libero, consequat at fringilla id,
    accumsan eu erat. Mauris diam nibh, vehicula at elit eu, ullamcorper mollis
    dolor.
  </p>
  <div class="row">
    <div class="8u 12u$(small)">
      <form method="post" action="#">
        <div class="row uniform 50%">
          <div class="12u$ 12u$(xsmall)">
            <input
              type="email"
              name="email"
              id="email-sub"
              placeholder="Email"
            />
          </div>
        </div>
      </form>
      <ul class="actions">
        <li>
          <input type="submit" value="Subscribe" class="subscribe-btn" />
        </li>
      </ul>
    </div>
  </div>
</section>
