<!-- One -->
<section id="one">
  <h2>Web Developer</h2>
  <div class="row">
    <article class="6u 12u$(xsmall) work-item">
      <a href="../../../../img/fulls/01.jpg" class="image fit thumb"
        ><img src="../../../../img/thumbs/01.jpg" alt=""
      /></a>
      <h3>Consequat at fringilla id</h3>
      <p>Lorem ipsum dolor sit amet, consectetur dolor sit.</p>
    </article>
    <article class="6u$ 12u$(xsmall) work-item">
      <a href="../../../../img/fulls/02.jpg" class="image fit thumb"
        ><img src="../../../../img/thumbs/02.jpg" alt=""
      /></a>
      <h3>Accumsan eu erat.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur dolor sit.</p>
    </article>
  </div>
  <h2>Community Manager</h2>
  <div class="row">
    <article class="6u 12u$(xsmall) work-item">
      <a href="../../../../img/fulls/03.jpg" class="image fit thumb"
        ><img src="../../../../img/thumbs/03.jpg" alt=""
      /></a>
      <h3>Ut leo libero</h3>
      <p>Lorem ipsum dolor sit amet, consectetur dolor sit.</p>
    </article>
    <article class="6u$ 12u$(xsmall) work-item">
      <a href="../../../../img/fulls/04.jpg" class="image fit thumb"
        ><img src="../../../../img/thumbs/04.jpg" alt=""
      /></a>
      <h3>Vehicula at elit eu</h3>
      <p>Lorem ipsum dolor sit amet, consectetur dolor sit.</p>
    </article>
  </div>
  <h2>Management</h2>
  <div class="row">
    <article class="6u 12u$(xsmall) work-item">
      <a href="../../../../img/fulls/05.jpg" class="image fit thumb"
        ><img src="../../../../img/thumbs/05.jpg" alt=""
      /></a>
      <h3>Ullamcorper mollis dolor</h3>
      <p>Lorem ipsum dolor sit amet, consectetur dolor sit.</p>
    </article>
    <article class="6u$ 12u$(xsmall) work-item">
      <a href="../../../../img/fulls/06.jpg" class="image fit thumb"
        ><img src="../../../../img/thumbs/06.jpg" alt=""
      /></a>
      <h3>Suspendisse suscipit commodo</h3>
      <p>Lorem ipsum dolor sit amet, consectetur dolor sit.</p>
    </article>
  </div>
  <ul class="actions">
    <li><a href="#" class="button">Ver todos mis trabajos</a></li>
  </ul>
</section>
