<!DOCTYPE html>
<html>
  <head>
    <title>Personal Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  </head>
  <body id="top">
    <app-header></app-header>
    <!-- Main -->
    <div id="main">
      <app-web-developer></app-web-developer>
      <app-community-manager></app-community-manager>
      <app-management></app-management>
      <app-about-me></app-about-me>
      <app-contacto></app-contacto>
    </div>

    <app-footer></app-footer>
  </body>
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/jquery.poptrox.min.js"></script>
  <script src="../assets/js/skel.min.js"></script>
  <script src="../assets/js/jquery.scrollex.min.js"></script>
  <script src="../assets/js/jquery.scrolly.min.js"></script>
  <script src="../assets/js/util.js"></script>
  <script src="../assets/js/main.js"></script>
</html>
