header {
  display: block;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Header */

#header {
  background-image: url("../../../../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -ms-behavior: url("../../../assets/js/ie/backgroundsize.min.htc");
}
*/ #header h1 {
  color: #ffffff;
}

#header {
  padding: 4.5em 1.5em;
}

#header h1 br {
  display: none;
}

#header {
  padding: 2.25em 1.5em;
}

#header h1 {
  font-size: 1.35em;
}

/* Section/Article */

section.special,
article.special {
  text-align: center;
}

header p {
  color: #b2b2b2;
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.5em;
}

header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
  line-height: 1.5em;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em;
  line-height: 1.5em;
}

header.major h2 {
  font-size: 2em;
}

/* Header */

#header {
  background-color: #1f1815;
  background-image: url("../../../../img/overlay.png"),
    url("../../../../img/bg.jpg");
  background-position: top right, top right;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto 100%;
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  padding: 8em 4em 0 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 35%;
}

#header strong,
#header b {
  color: #ffffff;
}

#header h2,
#header h3,
#header h4,
#header h5,
#header h6 {
  color: #ffffff;
}

#header h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.35em;
  line-height: 1.75em;
  margin: 0;
}

#header .image.avatar {
  margin: 0 0 1em 0;
  width: 6.25em;
}

/* Touch */

body.is-touch #header {
  background-attachment: scroll;
  background-size: auto, cover;
}

@media screen and (max-width: 1280px) {
  /* Header */

  #header {
    padding: 6em 3em 3em 3em;
    width: 30%;
  }

  #header h1 {
    font-size: 1.25em;
  }

  #header h1 br {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  /* Header */

  #header {
    background-attachment: scroll;
    background-position: top left, center center;
    background-size: auto, cover;
    left: auto;
    padding: 6em 4em;
    position: relative;
    text-align: center;
    top: auto;
    width: 100%;
  }

  #header h1 {
    font-size: 1.75em;
  }

  #header h1 br {
    display: inline;
  }
}
