<header id="header">
  <a href="#" class="image avatar"><img src="../../img/avatar.jpg" alt="" /></a>
  <h1>
    <strong>BIASON FRANCO</strong><br />
    Licenciado en Administación <br />
  </h1>

  <section id="sidebar">
    <div class="inner">
      <nav>
        <ul class="menu">
          <li><a href="#one" class="page-scroll">My works</a></li>
          <li><a href="#two" class="page-scroll">About me</a></li>
          <li><a href="#three" class="page-scroll">Subscribe me</a></li>
          <li><a href="#four" class="page-scroll">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </section>
</header>
